{% extends "base.html" %}
 
{% block content %}
    <!-- current_user a property of flask_login-->
    <h1>Hello, {{ current_user.username }}!</h1>
    <h2>Here are your current scheduled meetings:</h2>
    {% for m in meets %}
    <div>
        <p>----------------------------------</p>
        <div class="list-group">
                <li type="button" class="list-group-item">Guest Name: {{ m.guest }}</li>
				<li type="button" class="list-group-item">Description: {{ m.description }} </li>
				<li type="button" class="list-group-item">Date and Time: {{ m.time }}</li>
				<li type="button" class="list-group-item">href="{{ url_for('delete_meeting', id = m.id) }}">Cancel Meeting</li>	
	    </div>
    </div>
    {% endfor %}
    <p>----------------------------------</p>
    
    


{% endblock %}
