{% extends "base.html" %}
 
{% block content %}
    <!-- current_user a property of flask_login-->
    <h1>Hello, {{ current_user.username }}!</h1>
    <h2>Here are your current scheduled meetings:</h2>
    {% for m in meets %}
    <div>
        <p>----------------------------------</p>
        <p>Guest Name: {{ m.guest }}</p>
        <p>Description: {{ m.description }}</p>
        <p>Date and Time: {{ m.time }}</p>
        <p><a href="{{ url_for('delete_meeting', id = m.id) }}">Cancel Meeting</a></p>
    </div>
    {% endfor %}
    <p>----------------------------------</p>
    
    


{% endblock %}
