{% extends "base.html" %}
 
{% block content %}
    <!-- current_user a property of flask_login-->
    <h1>Hello, {{ current_user.username }}!</h1>
    <h2>Change your settings:</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.Duration.label }}<br>
            {{ form.Duration() }}
        </p>
        <p>
            {{ form.Start.label }}<br>
            {{ form.Start }}
        </p>
        <p>
            {{ form.End.label }}<br>
            {{ form.End }}
        </p>
        <p>{{ form.Email_Confirmation() }} {{ form.Email_Confirmation.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
    
<p>If you want to Delete Account click, <a href="{{ url_for('delete') }}">Delete Account</a></p>

<h2>Current Settings: </h2>
<li>Available from {{ current_user.availability_start }} to {{ current_user.availability_end }}</li>
<li>Allowed Meeting Length: {{ current_user.meeting_duration }}</li>



{% endblock %}

